.deck-box {
  height: 80vh;
  overflow: hidden;
  border: 1px soli #cccccc;

  .scroll-box {
    overflow-y: scroll;
    height: 88%
  }

  .class-deck-butons {
    width: 22vw;
  }

  .line {
    transition: background-color 0.4s;
    background-color: white;

    &:hover {
      background-color: #8b9ebb1c;
    }

    &.active {
      background-color: #8b9ebb;
      color: white;
      transition: background-color 1.8s;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
